<% include ./partials/header %>

		<form action="question" method="POST">
			<p id = "question_text"><%=chosenQuestion.question%></p>
			<% if (chosenQuestion.image != undefined) { %>
				<img src="<%= chosenQuestion.image %>" alt="image"> <p></p>
			<% } %>
			<input type="radio" name="answer" value="<%= chosenQuestion.selections[0] %>"><%= chosenQuestion.selections[0] %><br>
			<input type="radio" name="answer" value="<%= chosenQuestion.selections[1] %>"><%= chosenQuestion.selections[1] %><br>
			<input type="radio" name="answer" value="<%= chosenQuestion.selections[2] %>"><%= chosenQuestion.selections[2] %><br>
			<input type="radio" name="answer" value="<%= chosenQuestion.selections[3] %>"><%= chosenQuestion.selections[3] %><br>
			<input type="submit" value="Submit">
		</form>

<% include ./partials/footer %>